<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>204272_0.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,-2},{111,113}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,111}</string>
				<key>spriteSourceSize</key>
				<string>{111,113}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{110,167},{111,113}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{34,-34},{24,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{462,431},{24,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,69}</string>
				<key>spriteSourceSize</key>
				<string>{70,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,374},{70,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{10,-10},{42,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,42}</string>
				<key>spriteSourceSize</key>
				<string>{42,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{279,374},{42,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_11_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,37}</string>
				<key>spriteSourceSize</key>
				<string>{38,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{279,426},{38,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{222,167}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{222,167}</string>
				<key>spriteSourceSize</key>
				<string>{222,167}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{222,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,186}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,186}</string>
				<key>spriteSourceSize</key>
				<string>{118,186}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{222,0},{118,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{11,-11},{61,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,61}</string>
				<key>spriteSourceSize</key>
				<string>{61,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,376},{61,72}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{14,-14},{37,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,293},{37,51}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_15_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,30}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{27,30}</string>
				<key>spriteSourceSize</key>
				<string>{27,30}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{206,438},{27,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_16.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,126}</string>
				<key>spriteSourceSize</key>
				<string>{110,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,126},{110,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_17.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,126}</string>
				<key>spriteSourceSize</key>
				<string>{110,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{340,0},{110,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_18.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,126}</string>
				<key>spriteSourceSize</key>
				<string>{110,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,167},{110,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-9,9},{26,17}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{17,26}</string>
				<key>spriteSourceSize</key>
				<string>{26,17}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,344},{26,17}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_20.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{110,280},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_21.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,293},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_22.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{181,291},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_23.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{252,291},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_24.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{323,355},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_25.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,83}</string>
				<key>spriteSourceSize</key>
				<string>{71,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{421,348},{71,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_27.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,64}</string>
				<key>spriteSourceSize</key>
				<string>{73,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{206,374},{73,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_28.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,54}</string>
				<key>spriteSourceSize</key>
				<string>{68,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,431},{68,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_29.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,52}</string>
				<key>spriteSourceSize</key>
				<string>{58,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{61,438},{58,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{42,-42},{27,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,27}</string>
				<key>spriteSourceSize</key>
				<string>{27,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,355},{27,69}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_30.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,53}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,53}</string>
				<key>spriteSourceSize</key>
				<string>{61,53}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,192},{61,53}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,17}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,17}</string>
				<key>spriteSourceSize</key>
				<string>{14,17}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{492,398},{14,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{34,-34},{24,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,431},{24,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_5_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{40,-40},{15,55}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,15}</string>
				<key>spriteSourceSize</key>
				<string>{15,55}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,186},{15,55}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{33,-33},{17,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,17}</string>
				<key>spriteSourceSize</key>
				<string>{17,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{492,348},{17,50}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_7 _3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,96}</string>
				<key>spriteSourceSize</key>
				<string>{83,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{421,252},{83,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_7 _4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,103}</string>
				<key>spriteSourceSize</key>
				<string>{97,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,252},{97,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_7_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,101}</string>
				<key>spriteSourceSize</key>
				<string>{52,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,0},{52,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_7_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,75}</string>
				<key>spriteSourceSize</key>
				<string>{65,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,363},{65,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>204272_8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{38,-38},{53,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{91,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{450,101},{53,91}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>204272_9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,105}</string>
				<key>spriteSourceSize</key>
				<string>{103,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{221,186},{103,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>204272.png</string>
				<key>textureFileName</key>
				<string>204272</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
