<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>60647_6_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,63}</string>
				<key>spriteSourceSize</key>
				<string>{45,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,121},{45,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_7_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{55,-55},{47,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,47}</string>
				<key>spriteSourceSize</key>
				<string>{47,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,277},{47,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_7_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,84}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,84}</string>
				<key>spriteSourceSize</key>
				<string>{95,84}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,254},{95,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_8_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{119,-119},{68,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{187,68}</string>
				<key>spriteSourceSize</key>
				<string>{68,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{185,0},{68,187}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_8_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-4,4},{137,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{133,137}</string>
				<key>spriteSourceSize</key>
				<string>{137,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,121},{137,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_8_3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-2,2},{92,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{137,187},{92,90}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_8_4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-1,1},{76,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,76}</string>
				<key>spriteSourceSize</key>
				<string>{76,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{95,277},{76,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_9_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,121}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{185,121}</string>
				<key>spriteSourceSize</key>
				<string>{185,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{185,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>60647_3.png</string>
				<key>textureFileName</key>
				<string>60647_3</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
