<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>60647_14_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,47}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,47}</string>
				<key>spriteSourceSize</key>
				<string>{92,47}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{113,187},{92,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_14_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-15,15},{57,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,57}</string>
				<key>spriteSourceSize</key>
				<string>{57,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,96},{57,42}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_15_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,83}</string>
				<key>spriteSourceSize</key>
				<string>{150,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,158},{150,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_15_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-47,47},{148,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,148}</string>
				<key>spriteSourceSize</key>
				<string>{148,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{206,96},{148,101}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_16_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{206,96}</string>
				<key>spriteSourceSize</key>
				<string>{206,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{206,0},{206,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_16_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,158}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,158}</string>
				<key>spriteSourceSize</key>
				<string>{92,158}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{412,0},{92,158}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>60647_16_3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-40,40},{113,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,113}</string>
				<key>spriteSourceSize</key>
				<string>{113,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,187},{113,73}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>60647_17_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{206,187}</string>
				<key>spriteSourceSize</key>
				<string>{206,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{206,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>60647_5.png</string>
				<key>textureFileName</key>
				<string>60647_5</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
