<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>qinshi_1.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-24,24},{40,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,152},{40,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_10.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-14,14},{22,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,22}</string>
				<key>spriteSourceSize</key>
				<string>{22,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{56,80},{22,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_11.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-40,40},{48,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,48}</string>
				<key>spriteSourceSize</key>
				<string>{48,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{24,136},{48,8}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_12.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-8,8},{24,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{24,120},{24,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_13.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,40}</string>
				<key>spriteSourceSize</key>
				<string>{32,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,80},{32,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>qinshi_14.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-25,25},{56,31}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{31,56}</string>
				<key>spriteSourceSize</key>
				<string>{56,31}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,224},{56,31}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_15.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-8,8},{24,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,24}</string>
				<key>spriteSourceSize</key>
				<string>{24,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{32,80},{24,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_2.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,12}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{64,88},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>qinshi_3.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,80}</string>
				<key>spriteSourceSize</key>
				<string>{80,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>qinshi_4.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{-21,21},{53,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{56,224},{53,32}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_5.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{216,-216},{8,224}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{224,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,224}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{80,0},{8,224}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_6.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,32}</string>
				<key>spriteSourceSize</key>
				<string>{24,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,120},{24,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>qinshi_7.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,16}</string>
				<key>spriteSourceSize</key>
				<string>{16,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,96},{16,16}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>qinshi_8.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,-2},{14,16}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,14}</string>
				<key>spriteSourceSize</key>
				<string>{14,16}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{32,96},{14,16}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>qinshi_9.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,8}</string>
				<key>spriteSourceSize</key>
				<string>{28,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{48,112},{28,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{128,256}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>qinshi.png</string>
				<key>textureFileName</key>
				<string>qinshi</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
